.photos {
    max-width: 1366px;
    height: 100%;
    max-height: 1178px;
    background-color: #f3f3f3;
    padding: 90px;
    @include display-flex(column, flex-start, center);
    &--header {
        color: #333b46;
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
    }
    &--description {
        color: #81858d;
        font-family: "OpenSans", sans-serif;
        font-size: 14px;
        margin-top: 40px;
    }
    &__grid {
        width: 100%;
        margin-top: 80px;
        height: 100%;
        max-height: 950px;
        &__choice {
            margin-top: 75px;
            width: 50%;
            color: #333b46;
            font-family: "OpenSans", sans-serif;
            font-size: 16px;
            @include display-flex(row, space-between, center);
            &--item {
                margin-right: 30px;
            }
            &--item:last-child {
                margin-right: 0;
                cursor: pointer;
            }
        }
    }
}

.choice-item {
    &--top {
        cursor: pointer;
        &:hover+.choice-item--filter {
            border-top: 2px dashed $greenasule;
        }
    }
    &--filter {
        margin: 0 auto;
        margin-top: 15px;
        width: 40px;
        border-top: 2px solid transparent;
        transition: 0.4s ease-in-out;
    }
}

.filter_active {
    border-top: 2px solid $greenasule;
}


/*      masonry      */

.grid {
    width: 100%;
    max-width: 1110px;
    height: 100%;
    height: 900px;
    max-height: 950px;
}

.grid-sizer,
.grid-item {
    /*border: 2px solid hsla(0, 0%, 0%, 0.5);      */
    width: 25%;
    max-width: 270px;
    height: 30%;
    min-height: 200px;
    max-height: 300px;
    /*  270px;
    margin: 0 0 10px 0;*/
    &--img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.grid-item--width2 {
    width: 40%;
}

.grid-item--gigante {
    width: 35%;
    height: 120%;
}

.grid:after,
.grid:before {
    content: '';
    display: block;
    clear: both;
}